@charset "UTF-8";
@import url('/BustrainSystemWeb/resources/css/utils/common.css');

body input, textarea{
text-transform:uppercase;
}

div.dataTables_wrapper {
       width: 98%;
       margin-left: 10px;
    }
                 
#divRO{
	margin-left:auto; 
    margin-right:auto;
    width:50%;
}

#divUpd {
	margin-left:auto; 
    margin-right:auto;
    width:20%;
}

.formTable{
	 margin-left:auto; 
     margin-right:auto;
}



.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    }

  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */

  * html .ui-autocomplete {
    height: 200px;
    }
    
  .ui-tooltip {
    width:25%;
  }

  