@charset "UTF-8";

#TablRO tbody td{/*color: red;*/
                 white-space: nowrap;
                 }

body input, textarea{
text-transform:uppercase;
}
                 
button{
	margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
	padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    cursor:pointer; 
    }

input:focus{
   /*border: 2px solid #000;*/
   /*background: #F3F3F3;*/
   /*background: rgba(0,200,0,0.3);*/
   /*box-shadow: 0px 0px 12px rgba(0,200,0,0.8);*/
   border:2px solid rgb(0,200,0) !important;
   background: none !important;
   }
 

select:focus{
   /*border: 2px solid #000;*/
   /*background: #F3F3F3;*/
   /*background: rgba(0,200,0,0.3);*/
   /*box-shadow: 0px 0px 12px rgba(0,200,0,0.8);*/
   border:2px solid rgb(0,200,0) !important;
   background: none !important;
   }
   
   
textarea:focus{
   /*border: 2px solid #000;*/
   /*background: #F3F3F3;*/
   /*background: rgba(0,200,0,0.3);*/
   /*box-shadow: 0px 0px 12px rgba(0,200,0,0.8);*/
   border:2px solid rgb(0,200,0) !important;
   background: none !important;
   }      

form tr{
 margin-top: 2px; 
 margin-bottom: 2px; 
 margin-left: 1px;
 margin-right: 1px;
 padding-top: 1px; 
 padding-bottom: 1px; 
 padding-left: 1px;
 padding-right: 1px;
}

form td{
 margin-top: 2px; 
 margin-bottom: 2px; 
 margin-left: 1px;
 margin-right: 1px;
 padding-top: 1px; 
 padding-bottom: 1px; 
 padding-left: 1px;
 padding-right: 1px;
}        

fieldset  /** Boostrap Sobreescribe propiedades **/
{
	border: 1px solid #ddd !important;
	margin: 0;
	xmin-width: 0;
	padding: 10px;       
	position: relative;
	border-radius:4px;
	background-color:#f5f5f5;
	padding-left:10px !important;
}	
	
legend
{
	font-size:12px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 80%; 
	border: 1px solid #ddd;
	border-radius: 4px; 
	padding: 3px 3px 3px 3px; 
	background-color: #ffffff;
}             

textarea{
	resize:none;
}

#TablInputs tr,td{
 margin-top: 1px; 
 margin-bottom: 1px; 
 margin-left: 1px;
 margin-right: 1px;
 padding-top: 1px; 
 padding-bottom: 1px; 
 padding-left: 1px;
 padding-right: 1px;
}


select{
	 padding: 2px 2px;
}


.xxbsdanger{
   	background-color: red;
}


#footerTbl{
	  background-image:url('../../images/footerBg.gif');
	  width:100%;
	  position: fixed;
      left: 0;
      bottom: 0;
}



.headerTbl{
	  background-image:url('../../images/headerBg.gif');
	  width:100% ;
	  box-sizing: content-box !important;
	  
      /* bottom: 0; */
}

/*#footer {
  background-color: orange;
  text-align: center;
  height: 25px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border:1px solid orange;
}
*/


/**** Comienza Header with Main Navigation
----------------------------------------------------------------------**/
#divHeader{
	 margin-top: 1px;
	 padding-top: 1px;
	 margin-bottom: 8px;
	 padding-bottom: 8px;
}

#navMain{
	clear:both;
	float:left;
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
	/*border-left: 1px solid #7C7C7C;*/
}

#navMain li{
	display:inline;
	float:left;
	width:10%;
}


#navMain li a:link{
padding: .3em; 
display: block; 
text-decoration: none; 
color:#fff;
font-family:Arial;
font-weight: bold;
font-size:15px !important;
background: #ff8000;
/* border-top: 1px solid #7C7C7C;*/
/* border-right: 1px solid #7C7C7C; */
/* border-bottom: 1px solid #9C9C9C; */

}

#navMain li a:visited{
padding: .3em; 
display: block; 
text-decoration: none; 
color:#fff;
font-family:Arial;
font-weight: bold;
font-size:15px !important;
background: #ff8000;
/* border-top: 1px solid #7C7C7C; */
/* border-right: 1px solid #7C7C7C; */ 
/* border-bottom: 1px solid #9C9C9C; */
}


#navMain li ul{
	clear:both;
	width:170px;
	list-style:none;
	/* border-left: 1px solid #7C7C7C; */
	position:absolute;
	left: -999em;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
    z-index: 999 !important;
}

#navMain li ul li{
  	width:170px;
    z-index: 999 !important;
}

#navMain li:hover ul {
	left: auto;
}


#navMain li ul a:link{
padding: .3em; 
display: block; 
text-decoration: none; 
color:#fff;
font-family:Arial;
font-weight: bold;
font-size:15px !important;
/* background: #528FD5; */
/* border-top: 1px solid #7C7C7C; */
/* border-right: 1px solid #7C7C7C; */ 
/* border-bottom: 1px solid #9C9C9C; */

}

#navMain li ul  a:visited{
padding: .3em; 
display: block; 
text-decoration: none; 
color:#fff;
font-family:Arial;
font-weight: bold;
font-size:15px !important;
/* background: #528FD5; */
/* border-top: 1px solid #7C7C7C;  */
/* border-right: 1px solid #7C7C7C;  */
/* border-bottom: 1px solid #9C9C9C; */
}
/**** Finaliza Header with Main Navigation
----------------------------------------------------------------------**/

.xxbstdtextalign{
 text-align:right;
 padding-right:5px;
}

.xxbstdtextalignV2{
 text-align:right;
}

.xxbstdtextalignV3{
 text-align:center;
}

.xxbstdvalign{
 vertical-align:top;
}

/************************************************************************/
.xxbstblfieldset{
	border: 1px solid #ddd ;
	border-radius:4px;
	background-color:#f5f5f5;
	margin-left:10px;
	padding-left:10px;
	margin-top:10px;
	padding-top:10px;
	margin-right:10px;
	padding-right:10px;
	margin-bottom:10px;
	padding-bottom:10px;
}

.modPantDiv{
	border: 1px solid #ddd ;
	border-radius:4px;
	background-color:#337ab7;
	color:#fff;
	font-size:14px;
	font-weight: bold;
	margin-left:2px;
	padding-left:2px;
	margin-top:25px;
	padding-top:2px;
	margin-right:2px;
	padding-right:2px;
	margin-bottom:2px;
	padding-bottom:2px;
}

.xxbssums{
  font-size:16px;
  font-weight: bold;
}

.xxbstheadbg{
	background-color: #17a2b8;
	font-size:14px;
	color:white;
}

.xxbstbodybg{
	background-color: #bee5eb;
}

.xxbsdatepickerbg{
	background-color: #bee5eb;
}