@charset "UTF-8";
@import url('/BustrainSystemWeb/resources/css/utils/common.css');

/*
 * {margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
	padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border:1px solid blue;
   }
  */

div.dataTables_wrapper {
       /* width: 1024px;*/
        width: 98%;
        margin-left: 10px;
        margin-right: 10px;
    }


#ButtonsDiv{
    margin-left: 50px;
   	width:100%
   }


